<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="normal" class="test.spring.xml.NormalDelivery"></bean>
    <bean id="fast" class="test.spring.xml.FastDelivery"></bean>
     
     <bean id="fish" class="test.spring.xml.FishBiriyani">
     <property name="deliveryService" ref="normal"></property>
     <property name="ingredients" value="true"></property>
     </bean>
     
    <bean id="chic" class="test.spring.xml.ChickenBiriyani" init-method="myPostConstruct" destroy-method="myPreDestroy">
    	<constructor-arg ref="fast"></constructor-arg>
    </bean>
    
    <bean id="mutt" class="test.spring.xml.MuttonBiriyani" scope="prototype">
    	<constructor-arg ref="normal"></constructor-arg>
    </bean>
    
    
</beans>    